main {
    padding: 0;
    margin-left: 0;
}

a, a:link, a:visited {
    text-decoration: underline dotted;
    font-style: italic;
    
    color: #000;
}

h1 {
    font-family: Georgia;
    text-align: center;
}

img {
    border: 1px solid #404040;

    margin-left: 50%;
    transform: translateX(-50%);
    
    width: 30%;
    height: auto;
}

li {
    text-align: center;
}

p {
    font-family: Georgia;
    font-size: 12pt;
    text-align: justify;

    margin-left: 10%;
    margin-right: 10%;
}

p::first-letter {
    font-weight: bold;
    font-size: 20pt;
}

p::last-child {
    text-align: center;
}

ul#postbox {
    list-style-type: none;
}

ul#postbox li {
    font-size: 18pt;
}
